61968-6/wsdl/get/xsd/GetWorkRequests.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 (x64) (http://www.altova.com) by Chris Kardos (C.P. Kardos, Inc.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a="http://langdale.com.au/2005/Message#" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns="http://langdale.com.au/2005/Message#" xmlns:m="http://iec.ch/TC57/2015/GetWorkRequests#" targetNamespace="http://iec.ch/TC57/2015/GetWorkRequests#" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation/>
	</xs:annotation>
	<xs:element name="GetWorkRequests" type="m:GetWorkRequests">
		<xs:annotation>
			<xs:documentation>EPRI GetWorkRequests profile for use with the "get" verb.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GetWorkRequests">
		<xs:sequence>
			<xs:element name="Asset" type="m:Asset" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Crew" type="m:Crew" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Organization" type="m:Organisation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TimeSchedule" type="m:WorkTimeSchedule" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Work" type="m:Work" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="WorkLocation" type="m:WorkLocation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="WorkRequest" type="m:WorkRequest" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkRequest">
		<xs:sequence>
			<xs:element name="mRID" type="m:mRID" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
				<xs:annotation>
					<xs:documentation>Master resource identifier issued by a model authority. The mRID is globally unique within an exchange context. Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this. For CIMXML data files in RDF syntax, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.Names">
				<xs:annotation>
					<xs:documentation>All names of this identified object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActivityRecord" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ActivityRecord">
		<xs:annotation>
			<xs:documentation>Records activity for an entity at a point in time; activity may be for an event that has already occurred or for a planned activity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="createdDateTime" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ActivityRecord.createdDateTime">
				<xs:annotation>
					<xs:documentation>Date and time this activity record has been created (different from the 'status.dateTime', which is the time of a status change of the associated object, if applicable).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reason" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ActivityRecord.reason">
				<xs:annotation>
					<xs:documentation>Reason for event resulting in this activity record, typically supplied when user initiated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="severity" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ActivityRecord.severity">
				<xs:annotation>
					<xs:documentation>Severity level of event resulting in this activity record.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#ActivityRecord.type">
				<xs:annotation>
					<xs:documentation>Type of event resulting in this activity record.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Asset" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Asset">
		<xs:annotation>
			<xs:documentation>Tangible resource of the utility, including power system equipment, various end devices, cabinets, buildings, etc. For electrical network equipment, the role of the asset is defined through PowerSystemResource and its subclasses, defined mainly in the Wires model (refer to IEC61970-301 and model package IEC61970::Wires). Asset description places emphasis on the physical characteristics of the equipment fulfilling that role.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mRID" type="m:mRID" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
				<xs:annotation>
					<xs:documentation>Master resource identifier issued by a model authority. The mRID is globally unique within an exchange context. Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this. For CIMXML data files in RDF syntax, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="critical" type="xs:boolean" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Asset.critical">
				<xs:annotation>
					<xs:documentation>True if asset is considered critical for some reason (for example, a pole with critical attachments).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.Names">
				<xs:annotation>
					<xs:documentation>All names of this identified object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssetLocationHazard" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#AssetLocationHazard">
		<xs:annotation>
			<xs:documentation>Potential hazard related to the location of an asset.
Examples are trees growing under overhead power lines, a park being located by a substation (i.e.,
children climb fence to recover a ball), a lake near an overhead distribution line (fishing pole/line
contacting power lines), dangerous neighbour, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Hazard.type">
				<xs:annotation>
					<xs:documentation>Type of this hazard.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Crew" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Crew">
		<xs:annotation>
			<xs:documentation>Group of people with specific skills, tools, and vehicles.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mRID" type="m:mRID" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
				<xs:annotation>
					<xs:documentation>Master resource identifier issued by a model authority. The mRID is globally unique within an exchange context. Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this. For CIMXML data files in RDF syntax, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.Names">
				<xs:annotation>
					<xs:documentation>All names of this identified object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InternalLocation">
		<xs:annotation>
			<xs:documentation>For assets that are located inside a building, e.g. generation unit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BuildingName" type="xs:string" minOccurs="0"/>
			<xs:element name="BuildingNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="Floor" type="xs:string" minOccurs="0"/>
			<xs:element name="RoomNumber" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="mRID">
		<xs:annotation>
			<xs:documentation>This is intended to be a universally unique identifier (UUID) for an instance of an object.  It is intended that this identifier is compliant with the IETF RFC 4122 ("A Universally Unique IDentifier URN Namespace") definition of a UUID. Furthermore, the pattern used to restrict the xs:string should support any of the RFC 4122 UUID variants, including the Microsoft Globally Unique Identifier (GUID) variant of the UUID, without being restricted to supporting ONLY the Microsoft GUID definition.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name">
		<xs:annotation>
			<xs:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is &lt;b&gt;not&lt;/b&gt; to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.name">
				<xs:annotation>
					<xs:documentation>Any free text that name the object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameType" type="m:NameType" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.NameType">
				<xs:annotation>
					<xs:documentation>Type of this name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType">
		<xs:annotation>
			<xs:documentation>Type of name. Possible values for attribute 'name' are implementation dependent but standard profiles may specify types. An enterprise may have multiple IT systems each having its own local name for the same object, e.g. a planning system may have different names from an EMS. An object may also have different names within the same IT system, e.g. localName and aliasName as defined in CIM version 14. Their definitions from CIM14 are</xs:documentation>
			<xs:documentation>The localName is a human readable name of the object. It is only used with objects organized in a naming hierarchy. localName: A free text name local to a node in a naming hierarchy similar to a file directory structure. A power system related naming hierarchy may be: Substation, VoltageLevel, Equipment etc. Children of the same parent in such a hierarchy have names that typically are unique among them.</xs:documentation>
			<xs:documentation>aliasName: A free text alternate name typically used in tabular reports where the column width is limited.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.description">
				<xs:annotation>
					<xs:documentation>Description of the name type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.name">
				<xs:annotation>
					<xs:documentation>Name of the name type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTypeAuthority" type="m:NameTypeAuthority" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.NameTypeAuthority">
				<xs:annotation>
					<xs:documentation>Authority responsible for managing names of this type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority">
		<xs:annotation>
			<xs:documentation>Authority responsible for creation and management of names of a given type; typically an organization or an enterprise system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.description">
				<xs:annotation>
					<xs:documentation>Description of the name type authority.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.name">
				<xs:annotation>
					<xs:documentation>Name of the name type authority.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Organisation" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Organisation">
		<xs:annotation>
			<xs:documentation>Organisation that might have roles as utility, contractor, supplier, manufacturer, customer, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mRID" type="m:mRID" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
				<xs:annotation>
					<xs:documentation>Master resource identifier issued by a model authority. The mRID is globally unique within an exchange context. Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this. For CIMXML data files in RDF syntax, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.Names">
				<xs:annotation>
					<xs:documentation>All names of this identified object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Work" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Work">
		<xs:annotation>
			<xs:documentation>Document used to request, initiate, track and record work.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kind" type="m:WorkKind" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#BaseWork.kind">
				<xs:annotation>
					<xs:documentation>Kind of work.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statusKind" type="m:WorkStatusKind" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#BaseWork.statusKind">
				<xs:annotation>
					<xs:documentation>Kind of work status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="priority" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#BaseWork.priority">
				<xs:annotation>
					<xs:documentation>Priority of work.</xs:documentation>
				</xs:annotation>
				<xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Priority">
					<xs:sequence>
						<xs:element name="justification" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Priority.justification">
							<xs:annotation>
								<xs:documentation>Justification for 'rank'.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="rank" type="xs:integer" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Priority.rank">
							<xs:annotation>
								<xs:documentation>Priority level; usually, lower number means high priority, but the details are provided in 'type'.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="type" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Priority.type">
							<xs:annotation>
								<xs:documentation>Type describing 'rank'; e.g., high, emergency, etc.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="WorkKind" sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric#
WorkKind">
		<xs:annotation>
			<xs:documentation>Kind of work.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="connect">
				<xs:annotation>
					<xs:documentation>Connect work.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="construction">
				<xs:annotation>
					<xs:documentation>Construction work.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="disconnect">
				<xs:annotation>
					<xs:documentation>Disconnect work.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="inspection">
				<xs:annotation>
					<xs:documentation>Inspection work.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="maintenance">
				<xs:annotation>
					<xs:documentation>Maintenance work.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="other">
				<xs:annotation>
					<xs:documentation>Other kind of work.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="reconnect">
				<xs:annotation>
					<xs:documentation>(use 'connect' instead) Reconnect
work.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="repair">
				<xs:annotation>
					<xs:documentation>Repair work.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="service">
				<xs:annotation>
					<xs:documentation>Service work.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="test">
				<xs:annotation>
					<xs:documentation>Test work.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="WorkLocation" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkLocation">
		<xs:annotation>
			<xs:documentation>Information about a particular location for various forms of work.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mRID" type="m:mRID" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
				<xs:annotation>
					<xs:documentation>Master resource identifier issued by a model authority. The mRID is globally unique within an exchange context. Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this. For CIMXML data files in RDF syntax, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalLocation" type="m:InternalLocation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Location inside a building.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mainAddress" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Location.mainAddress">
				<xs:annotation>
					<xs:documentation>Main address of the location.</xs:documentation>
				</xs:annotation>
				<xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#StreetAddress">
					<xs:sequence>
						<xs:element name="streetDetail" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#StreetAddress.streetDetail">
							<xs:annotation>
								<xs:documentation>Street detail.</xs:documentation>
							</xs:annotation>
							<xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#StreetDetail">
								<xs:sequence>
									<xs:element name="addressGeneral" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#StreetDetail.addressGeneral">
										<xs:annotation>
											<xs:documentation>Additional address information, for example a mailstop.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="buildingName" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#StreetDetail.buildingName">
										<xs:annotation>
											<xs:documentation>(if applicable) In certain cases the physical location of the place of interest does not have a direct point of entry from the street, but may be located inside a larger structure such as a building, complex, office block, apartment, etc.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="code" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#StreetDetail.code">
										<xs:annotation>
											<xs:documentation>(if applicable) Utilities often make use of external reference systems, such as those of the town-planner's department or surveyor general's mapping system, that allocate global reference codes to streets.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="name" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#StreetDetail.name">
										<xs:annotation>
											<xs:documentation>Name of the street.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="number" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#StreetDetail.number">
										<xs:annotation>
											<xs:documentation>Designator of the specific location on the street.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="prefix" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#StreetDetail.prefix">
										<xs:annotation>
											<xs:documentation>Prefix to the street name. For example: North, South, East, West.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="suffix" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#StreetDetail.suffix">
										<xs:annotation>
											<xs:documentation>Suffix to the street name. For example: North, South, East, West.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="suiteNumber" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#StreetDetail.suiteNumber">
										<xs:annotation>
											<xs:documentation>Number of the apartment or suite.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="type" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#StreetDetail.type">
										<xs:annotation>
											<xs:documentation>Type of street. Examples include: street, circle, boulevard, avenue, road, drive, etc.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="withinTownLimits" type="xs:boolean" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#StreetDetail.withinTownLimits">
										<xs:annotation>
											<xs:documentation>True if this street is within the legal geographical boundaries of the specified town (default).</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="townDetail" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#StreetAddress.townDetail">
							<xs:annotation>
								<xs:documentation>Town detail.</xs:documentation>
							</xs:annotation>
							<xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#TownDetail">
								<xs:sequence>
									<xs:element name="code" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#TownDetail.code">
										<xs:annotation>
											<xs:documentation>Town code.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="country" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#TownDetail.country">
										<xs:annotation>
											<xs:documentation>Name of the country.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="name" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#TownDetail.name">
										<xs:annotation>
											<xs:documentation>Town name.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="section" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#TownDetail.section">
										<xs:annotation>
											<xs:documentation>Town section. For example, it is common for there to be 36 sections per township.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="stateOrProvince" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#TownDetail.stateOrProvince">
										<xs:annotation>
											<xs:documentation>Name of the state or province.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.Names">
				<xs:annotation>
					<xs:documentation>All names of this identified object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="WorkStatusKind" sawsdl:modelReference="http://iec.ch/TC57/CIMgeneric#WorkStatusKind">
		<xs:annotation>
			<xs:documentation>Kind of status, specific to work.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="approved">
				<xs:annotation>
					<xs:documentation>Work has been approved.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cancelled">
				<xs:annotation>
					<xs:documentation>Work has been canceled.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="closed">
				<xs:annotation>
					<xs:documentation>Work has been closed (typically by a person responsible for work management) and is ready for billing.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="completed">
				<xs:annotation>
					<xs:documentation>Work has been completed, i.e., crew can leave the work location and is available for another work.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="dispatched">
				<xs:annotation>
					<xs:documentation>Crew has been dispatched.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="enroute">
				<xs:annotation>
					<xs:documentation>Crew is 'en route'.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="inProgress">
				<xs:annotation>
					<xs:documentation>Work is in progress.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="onSite">
				<xs:annotation>
					<xs:documentation>Crew is on the site.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="scheduled">
				<xs:annotation>
					<xs:documentation>Work has been scheduled.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="waitingOnApproval">
				<xs:annotation>
					<xs:documentation>Work approval is pending.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="waitingOnMaterial">
				<xs:annotation>
					<xs:documentation>Work has been waiting on material.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="waitingToBeScheduled">
				<xs:annotation>
					<xs:documentation>Work needs to be scheduled.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="WorkTimeSchedule" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTimeSchedule">
		<xs:annotation>
			<xs:documentation>Time schedule specific to work.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kind" type="m:WorkTimeScheduleKind" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTimeSchedule.kind">
				<xs:annotation>
					<xs:documentation>Kind of this work schedule.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scheduleInterval" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#TimeSchedule.scheduleInterval">
				<xs:annotation>
					<xs:documentation>Schedule date and time interval.</xs:documentation>
				</xs:annotation>
				<xs:complexType sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#DateTimeInterval">
					<xs:sequence>
						<xs:element name="end" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#DateTimeInterval.end">
							<xs:annotation>
								<xs:documentation>End date and time of this interval.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="start" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#DateTimeInterval.start">
							<xs:annotation>
								<xs:documentation>Start date and time of this interval.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="WorkTimeScheduleKind" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#WorkTimeScheduleKind">
		<xs:annotation>
			<xs:documentation>Kind of work schedule.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="actual">
				<xs:annotation>
					<xs:documentation>Actual work time schedule.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="earliest">
				<xs:annotation>
					<xs:documentation>Earliest work time schedule.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="estimate">
				<xs:annotation>
					<xs:documentation>Estimate work time schedule.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="latest">
				<xs:annotation>
					<xs:documentation>Latest work time schedule.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="request">
				<xs:annotation>
					<xs:documentation>Request work time schedule.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
