61968/wsdl/RequestServiceOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RequestServiceOrder"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://iec.ch/TC57/2010/ServiceOrder"
	xmlns:tns="http://iec.ch/TC57/2010/ServiceOrder" xmlns:infoMessage="http://www.iec.ch/TC57/2011/ServiceOrderMessage">
	<wsdl:types>
		<xs:schema targetNamespace="http://www.iec.ch/TC57/2011/ServiceOrderMessage"
			elementFormDefault="qualified">
			<xs:include schemaLocation="xsd/ServiceOrderMessage.xsd" />
		</xs:schema>
	</wsdl:types>
	<!-- Message Definitions -->
	<wsdl:message name="CreateServiceOrderMessage">
		<wsdl:part name="CreateServiceOrderMessage" element="infoMessage:CreateServiceOrder" />
	</wsdl:message>
	<wsdl:message name="ChangeServiceOrderMessage">
		<wsdl:part name="ChangeServiceOrderMessage" element="infoMessage:ChangeServiceOrder" />
	</wsdl:message>
	<wsdl:message name="CloseServiceOrderMessage">
		<wsdl:part name="CloseServiceOrderMessage" element="infoMessage:CloseServiceOrder" />
	</wsdl:message>
	<wsdl:message name="CancelServiceOrderMessage">
		<wsdl:part name="CancelServiceOrderMessage" element="infoMessage:CancelServiceOrder" />
	</wsdl:message>
	<wsdl:message name="DeleteServiceOrderMessage">
		<wsdl:part name="DeleteServiceOrderMessage" element="infoMessage:DeleteServiceOrder" />
	</wsdl:message>
	<wsdl:message name="ResponseMessage">
		<wsdl:part name="ResponseMessage" element="infoMessage:ServiceOrderResponseMessage" />
	</wsdl:message>
	<wsdl:message name="FaultMessage">
		<wsdl:part name="FaultMessage" element="infoMessage:ServiceOrderFaultMessage" />
	</wsdl:message>
	<!-- Port Definitions -->
	<wsdl:portType name="ServiceOrder_Port">
		<wsdl:operation name="CreateServiceOrder">
			<wsdl:input name="CreateServiceOrderRequest" message="tns:CreateServiceOrderMessage" />
			<wsdl:output name="CreateServiceOrderResponse" message="tns:ResponseMessage" />
			<wsdl:fault name="CreateServiceOrderFault" message="tns:FaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="ChangeServiceOrder">
			<wsdl:input name="ChangeServiceOrderRequest" message="tns:ChangeServiceOrderMessage" />
			<wsdl:output name="ChangeServiceOrderResponse" message="tns:ResponseMessage" />
			<wsdl:fault name="ChangeServiceOrderFault" message="tns:FaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="CancelServiceOrder">
			<wsdl:input name="CancelServiceOrderRequest" message="tns:CancelServiceOrderMessage" />
			<wsdl:output name="CancelServiceOrderResponse" message="tns:ResponseMessage" />
			<wsdl:fault name="CancelServiceOrderFault" message="tns:FaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="CloseServiceOrder">
			<wsdl:input name="CloseServiceOrderRequest" message="tns:CloseServiceOrderMessage" />
			<wsdl:output name="CloseServiceOrderResponse" message="tns:ResponseMessage" />
			<wsdl:fault name="CloseServiceOrderFault" message="tns:FaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="DeleteServiceOrder">
			<wsdl:input name="DeleteServiceOrderRequest" message="tns:DeleteServiceOrderMessage" />
			<wsdl:output name="DeleteServiceOrderResponse" message="tns:ResponseMessage" />
			<wsdl:fault name="DeleteServiceOrderFault" message="tns:FaultMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServiceOrder_Binding" type="tns:ServiceOrder_Port">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CreateServiceOrder">
			<soap:operation
				soapAction="http://iec.ch/TC57/2010/ServiceOrder/CreateServiceOrder"
				style="document" />
			<wsdl:input name="CreateServiceOrderRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CreateServiceOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CreateServiceOrderFault">
				<soap:fault name="CreateServiceOrderFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ChangeServiceOrder">
			<soap:operation
				soapAction="http://iec.ch/TC57/2010/ServiceOrder/ChangeServiceOrder"
				style="document" />
			<wsdl:input name="ChangeServiceOrderRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ChangeServiceOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ChangeServiceOrderFault">
				<soap:fault name="ChangeServiceOrderFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CancelServiceOrder">
			<soap:operation
				soapAction="http://iec.ch/TC57/2010/ServiceOrder/CancelServiceOrder"
				style="document" />
			<wsdl:input name="CancelServiceOrderRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CancelServiceOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CancelServiceOrderFault">
				<soap:fault name="CancelServiceOrderFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CloseServiceOrder">
			<soap:operation
				soapAction="http://iec.ch/TC57/2010/ServiceOrder/CloseServiceOrder"
				style="document" />
			<wsdl:input name="CloseServiceOrderRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CloseServiceOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CloseServiceOrderFault">
				<soap:fault name="CloseServiceOrderFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteServiceOrder">
			<soap:operation
				soapAction="http://iec.ch/TC57/2010/ServiceOrder/DeleteServiceOrder"
				style="document" />
			<wsdl:input name="DeleteServiceOrderRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="DeleteServiceOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="DeleteServiceOrderFault">
				<soap:fault name="DeleteServiceOrderFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RequestServiceOrder">
		<wsdl:port name="ServiceOrder_Port" binding="tns:ServiceOrder_Binding">
			<soap:address location="http://iec.ch/TC57/2010/RequestServiceOrder" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>