61968/wsdl/CimDelete/ExecuteServiceOrders.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://iec.ch/TC57/2015/ExecuteServiceOrders" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:infoMessage="http://iec.ch/TC57/2015/ServiceOrdersMessage" name="ExecuteServiceOrders" targetNamespace="http://iec.ch/TC57/2015/ExecuteServiceOrders">
	<wsdl:types>
		<xs:schema targetNamespace="http://iec.ch/TC57/2015/ExecuteServiceOrders" elementFormDefault="qualified">
			<xs:import namespace="http://iec.ch/TC57/2015/ServiceOrdersMessage" schemaLocation="xsd/ServiceOrdersMessage.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ChangeServiceOrdersRequestMessage">
		<wsdl:part name="ChangeServiceOrdersRequestMessage" element="infoMessage:ChangeServiceOrders"/>
	</wsdl:message>
	<wsdl:message name="DeleteServiceOrdersRequestMessage">
		<wsdl:part name="DeleteServiceOrdersRequestMessage" element="infoMessage:DeleteServiceOrders"/>
	</wsdl:message>
	<wsdl:message name="ResponseMessage">
		<wsdl:part name="ResponseMessage" element="infoMessage:ServiceOrdersResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="FaultMessage">
		<wsdl:part name="FaultMessage" element="infoMessage:ServiceOrdersFaultMessage"/>
	</wsdl:message>
	<wsdl:portType name="ServiceOrders_Port">
		<wsdl:operation name="ChangeServiceOrders">
			<wsdl:input name="ChangeServiceOrdersRequest" message="tns:ChangeServiceOrdersRequestMessage"/>
			<wsdl:output name="ChangeServiceOrdersResponse" message="tns:ResponseMessage"/>
			<wsdl:fault name="ChangeServiceOrdersFault" message="tns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteServiceOrders">
			<wsdl:input name="DeleteServiceOrdersRequest" message="tns:DeleteServiceOrdersRequestMessage"/>
			<wsdl:output name="DeleteServiceOrdersResponse" message="tns:ResponseMessage"/>
			<wsdl:fault name="DeleteServiceOrdersFault" message="tns:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServiceOrders_Binding" type="tns:ServiceOrders_Port">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ChangeServiceOrders">
			<soap:operation soapAction="http://iec.ch/TC57/2015/ServiceOrders/ChangeServiceOrders" style="document"/>
			<wsdl:input name="ChangeServiceOrdersRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ChangeServiceOrdersResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChangeServiceOrdersFault">
				<soap:fault name="ChangeServiceOrdersFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteServiceOrders">
			<soap:operation soapAction="http://iec.ch/TC57/2015/ServiceOrders/DeleteServiceOrders" style="document"/>
			<wsdl:input name="DeleteServiceOrdersRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="DeleteServiceOrdersResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DeleteServiceOrdersFault">
				<soap:fault name="DeleteServiceOrdersFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ExecuteServiceOrders">
		<wsdl:port name="ServiceOrders_Port" binding="tns:ServiceOrders_Binding">
			<soap:address location="http://iec.ch/TC57/2015/ExecuteServiceOrders"/>
		</wsdl:port>
	</wsdl:service>
	<xs:schema targetNamespace="http://iec.ch/TC57/2015/ExecuteServiceOrdersMessage" elementFormDefault="qualified">
		<xs:import namespace="http://iec.ch/TC57/2015/ServiceOrdersMessage" schemaLocation="xsd/ServiceOrdersMessage.xsd"/>
		<!--<xs:include schemaLocation="xsd/ServiceOrdersMessage.xsd"/>-->
	</xs:schema>
	<!-- Message Definitions -->
	<!-- Port Definitions -->
</wsdl:definitions>
