61968/wsdl/CimDelete/ExecuteWorkRequests.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://iec.ch/TC57/2015/ExecuteWorkRequests" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:infoMessage="http://iec.ch/TC57/2015/WorkRequestsMessage" name="ExecuteWorkRequests" targetNamespace="http://iec.ch/TC57/2015/ExecuteWorkRequests">
	<wsdl:types>
		<xs:schema targetNamespace="http://iec.ch/TC57/2015/ExecuteWorkRequests" elementFormDefault="qualified">
			<xs:import namespace="http://iec.ch/TC57/2015/WorkRequestsMessage" schemaLocation="xsd/WorkRequestsMessage.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ChangeWorkRequestsRequestMessage">
		<wsdl:part name="ChangeWorkRequestsRequestMessage" element="infoMessage:ChangeWorkRequests"/>
	</wsdl:message>
	<wsdl:message name="DeleteWorkRequestsRequestMessage">
		<wsdl:part name="DeleteWorkRequestsRequestMessage" element="infoMessage:DeleteWorkRequests"/>
	</wsdl:message>
	<wsdl:message name="ResponseMessage">
		<wsdl:part name="ResponseMessage" element="infoMessage:WorkRequestsResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="FaultMessage">
		<wsdl:part name="FaultMessage" element="infoMessage:WorkRequestsFaultMessage"/>
	</wsdl:message>
	<wsdl:portType name="WorkRequests_Port">
		<wsdl:operation name="ChangeWorkRequests">
			<wsdl:input name="ChangeWorkRequestsRequest" message="tns:ChangeWorkRequestsRequestMessage"/>
			<wsdl:output name="ChangeWorkRequestsResponse" message="tns:ResponseMessage"/>
			<wsdl:fault name="ChangeWorkRequestsFault" message="tns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteWorkRequests">
			<wsdl:input name="DeleteWorkRequestsRequest" message="tns:DeleteWorkRequestsRequestMessage"/>
			<wsdl:output name="DeleteWorkRequestsResponse" message="tns:ResponseMessage"/>
			<wsdl:fault name="DeleteWorkRequestsFault" message="tns:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WorkRequests_Binding" type="tns:WorkRequests_Port">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ChangeWorkRequests">
			<soap:operation soapAction="http://iec.ch/TC57/2015/WorkRequests/ChangeWorkRequests" style="document"/>
			<wsdl:input name="ChangeWorkRequestsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ChangeWorkRequestsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChangeWorkRequestsFault">
				<soap:fault name="ChangeWorkRequestsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteWorkRequests">
			<soap:operation soapAction="http://iec.ch/TC57/2015/WorkRequests/DeleteWorkRequests" style="document"/>
			<wsdl:input name="DeleteWorkRequestsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="DeleteWorkRequestsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DeleteWorkRequestsFault">
				<soap:fault name="DeleteWorkRequestsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ExecuteWorkRequests">
		<wsdl:port name="WorkRequests_Port" binding="tns:WorkRequests_Binding">
			<soap:address location="http://iec.ch/TC57/2015/ExecuteWorkRequests"/>
		</wsdl:port>
	</wsdl:service>
	<xs:schema targetNamespace="http://iec.ch/TC57/2015/ExecuteWorkRequestsMessage" elementFormDefault="qualified">
		<xs:import namespace="http://iec.ch/TC57/2015/WorkRequestsMessage" schemaLocation="xsd/WorkRequestsMessage.xsd"/>
		<!--<xs:include schemaLocation="xsd/WorkRequestsMessage.xsd"/>-->
	</xs:schema>
	<!-- Message Definitions -->
	<!-- Port Definitions -->
</wsdl:definitions>
