61968/wsdl/CimDelete/ReceiveWorkRequests.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://iec.ch/TC57/2015/ReceiveWorkRequests" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:infoMessage="http://iec.ch/TC57/2015/WorkRequestsMessage" name="ReceiveWorkRequests" targetNamespace="http://iec.ch/TC57/2015/ReceiveWorkRequests">
	<wsdl:types>
		<xs:schema targetNamespace="http://iec.ch/TC57/2015/ReceiveWorkRequests" elementFormDefault="qualified">
			<xs:import namespace="http://iec.ch/TC57/2015/WorkRequestsMessage" schemaLocation="xsd/WorkRequestsMessage.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ChangedWorkRequestsEventMessage">
		<wsdl:part name="ChangedWorkRequestsEventMessage" element="infoMessage:ChangedWorkRequests"/>
	</wsdl:message>
	<wsdl:message name="DeletedWorkRequestsEventMessage">
		<wsdl:part name="DeletedWorkRequestsEventMessage" element="infoMessage:DeletedWorkRequests"/>
	</wsdl:message>
	<wsdl:message name="ResponseMessage">
		<wsdl:part name="ResponseMessage" element="infoMessage:WorkRequestsResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="FaultMessage">
		<wsdl:part name="FaultMessage" element="infoMessage:WorkRequestsFaultMessage"/>
	</wsdl:message>
	<wsdl:portType name="WorkRequests_Port">
		<wsdl:operation name="ChangedWorkRequests">
			<wsdl:input name="ChangedWorkRequestsEvent" message="tns:ChangedWorkRequestsEventMessage"/>
			<wsdl:output name="ChangedWorkRequestsResponse" message="tns:ResponseMessage"/>
			<wsdl:fault name="ChangedWorkRequestsFault" message="tns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="DeletedWorkRequests">
			<wsdl:input name="DeletedWorkRequestsEvent" message="tns:DeletedWorkRequestsEventMessage"/>
			<wsdl:output name="DeletedWorkRequestsResponse" message="tns:ResponseMessage"/>
			<wsdl:fault name="DeletedWorkRequestsFault" message="tns:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WorkRequests_Binding" type="tns:WorkRequests_Port">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ChangedWorkRequests">
			<soap:operation soapAction="http://iec.ch/TC57/2015/WorkRequests/ChangedWorkRequests" style="document"/>
			<wsdl:input name="ChangedWorkRequestsEvent">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ChangedWorkRequestsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ChangedWorkRequestsFault">
				<soap:fault name="ChangedWorkRequestsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeletedWorkRequests">
			<soap:operation soapAction="http://iec.ch/TC57/2015/WorkRequests/DeletedWorkRequests" style="document"/>
			<wsdl:input name="DeletedWorkRequestsEvent">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="DeletedWorkRequestsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DeletedWorkRequestsFault">
				<soap:fault name="DeletedWorkRequestsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ReceiveWorkRequests">
		<wsdl:port name="WorkRequests_Port" binding="tns:WorkRequests_Binding">
			<soap:address location="http://iec.ch/TC57/2015/ReceiveWorkRequests"/>
		</wsdl:port>
	</wsdl:service>
	<!-- Message Definitions -->
	<!-- Port Definitions -->
</wsdl:definitions>
